
{% extends "base.html" %}
{% block title %}Storify - Assets{% endblock %}

{% block content %}
<form class="max-w-md mx-auto p-6 bg-white rounded-2xl shadow-md space-y-6" method="POST" action="/s4/s4_storage/multipart" enctype="multipart/form-data">



  <h2 class="text-2xl font-bold text-gray-800">Current Files</h2>
    <div class="space-y-4">
        {% for asset in assets %}
        <div class="flex items-center justify-between p-4 bg-gray-50 rounded-lg shadow-sm">
            <span class="text-gray-700">{{ asset.name }}</span>
            <a href="{{ asset.url }}" class="text-blue-600 hover:underline">Download</a>
        </div>
        {% endfor %}
        

  
 {% endblock %}